@baseLineHeight: 18px;
@green: #468847;
@peach: #f3f4eb;
@brown: #312113;
@lgreen: #699d67;
@lbrown: #584b3e;
@lred: #B94A48;

.cleancode() {
  background-color: @peach;
  border: 0px;
}

.shadow() {
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

body {
    padding-top: 15px;
    background: @peach;
}

section{
  padding-top: 20px;
}

h2 {
    line-height: @baseLineHeight * 1.5;
    font-size: 18px;
    small {
        font-size: 14px;
    }
    color: @peach;
    background-color: @lbrown;
    padding: 2px 8px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: inline-block;
    .shadow;
}
h3 {
    line-height: @baseLineHeight;
    font-size: 14px;
    small {
        font-size: 12px;
    }
}
h4 {
    font-size: 13px;
}

ul {
  margin: 0;
}

p{
  line-height:18px;
  margin-bottom:20px;
}

a {
  color: #1E347B;
  text-decoration: underline;
  padding: 0 1px;
}

a:hover {
  color: @peach;
  background-color: #1E347B;
  text-decoration: none;
  padding: 0 1px;
  border-radius: 2px;
}

.prettyprint, pre {
  .cleancode;
  border-left: 4px solid @lbrown;
  border-radius: 0;
}

.header {
  h1 {
    color: @peach;
    background-color: @green;
    font-size: 30px;
    line-height: 30px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: inline-block;
    .shadow;
  }
}

.nutshell {
  position: relative;
  padding: 40px 0 10px 0;
  background-color: @lgreen;
  color: @peach;
  .shadow;

  a {
    color: @peach;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      background-color: @lgreen;
    }
  }

  .lead {
    font-size: 19px;
    text-align: center;
    margin: 0;

    strong {
      font-size: 22px;
    }
  }

  li {
    display: inline;
    list-style-type: none;
  }

  .span9 {
    border-top: 1px dashed white; 
    padding-top: 20px; 
    margin-top: 25px;
  }

  code {
    padding: 0 1px;
    background-color: #498a49;
    color: @peach;
  }
}

code {
  .cleancode;
  color: @green;
  padding: 0;
}

#overview{
  color: @brown;
  h1{
    text-shadow: -4px -2px 15px rgba(88, 75, 62, 0.3);
    margin-bottom: 5px;
    text-align: center;
    font-size: 75px;
  }
  img{
    vertical-align: baseline;
    padding-right: 10px;
  }

 .intro{
    margin-bottom: 30px;
    pre.prettyprint.maincode, pre.prettyprint.samplecode{
      font-size : 16px;
      .cleancode;
      .pln, .kwd, .typ, .lit, .pun {color: grey;}
      .query {
        .pln, .kwd, .typ, .lit, .pun {color:#D14;}
      }
    }
    pre.prettyprint.maincode {
      .typ {color: @brown}
    }

    div.row{
      padding: 10px 0px;
    }

    .pitch{
      font-size: 22px;
      text-align: center;
      line-height:27px;
      margin-bottom: 70px;
      strong{
        color: @green;
      }
    }
 }
 .label {
    color: @peach;
    font-size: 15px;
    text-transform : uppercase;
    position: relative;

    &.shell {
      background-color: grey;
    }
    &.jongo {
      background-color: @green;
    }
  }
}


.dl-horizontal dt{
  width: 150px;
  &.strong{
   color: @green;
  }
}
.dl-horizontal dd{
  margin-left: 160px;
}

.small-bs-icon {
  float: left;
  margin: 4px 5px 0 0;
}

header {
  .links {
    text-align: center;
    padding-top: 20px;
  }
  .label {
    text-transform : uppercase;
  }
  .label-download {
    font-size: 26px;
    color: @peach;
    background-color: @brown;
    border: 1px solid @brown;
    padding: 9px 29px;
  }
  .label-reach {
    font-size: 13px;
    color: @brown;
    background-color: @peach;
    border: 1px solid @peach;
    padding: 6px 7px;
  }
  a.label:hover {
    color: @brown;
    text-decoration: none;
    border: 1px solid @brown;
  }
  ul {
    margin: 20px 0 10px 0;
    li:last-child {
      margin-left:1px;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

footer {
  color: @peach;
  margin-top: 30px;
  font-size: 10px;
  background-color: @brown;
  p {
    margin-top: 25px;
    line-height: 13px;
  }
  img {
    float: left;
    padding: 10px;
  }
  a {
    color: @peach;
    text-decoration: underline;
  }
}

@media (min-width: 901px) {
  .offset2 {
    margin-left: 200px;
  }
}

@media (max-width: 900px) {
  .offset1 {
    margin-left: 0;
  }
  footer {
    padding: 10px 0 0 0;
    margin-right: -20px;
    margin-left: -20px;
    p {
      margin-top: 10px;
    }
  }
  .nutshell {
    padding: 40px 20px 20px 20px;
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    .row:first-child {
      position: relative;
      left: 50%;
      margin-left: -380px;
      .span3 {
        float: left;
        min-height: 1px;
        margin-left: 20px;
        width: 220px;
      }
    }
  }

  #overview {
    .intro {
      pre.prettyprint.maincode, pre.prettyprint.samplecode{
       font-size: 14px;
     }
    }
    .label {
      top: 0;
      font-size: 13px;
    }
  }
}

@media (max-width: 700px) {
  .nutshell {
    .row:first-child {
      position: static;
      margin-left: 0px;
      .span3 {
        width: 100%;
        margin: 0 0 30px 0;
      }
      .span3:last-child {
        margin-bottom: 0;
      }
    }
  }
}